.home{
    text-align: center;

    h1{
        font-size: 3rem;
        margin-top: 5rem;
    }

    .month{
        @include flex(start,center,row);
        margin: 1rem 2rem;
        h2{
            font-size: 3rem;
        }

        .purchase-link{
            padding: 1rem;
            margin: 1rem;

            h2{
                font-size: 2.3rem;
                color: $color5;
            }
            h3{
                font-size: 2rem;
            }
        }
    }

    .resumes{
        @include flex(center,center,row);

        .resume-link{
            padding: 1rem;
            margin: 1rem;

            h2{
                font-size: 2.3rem;
                color: $color5;
            }
            h3{
                font-size: 2rem;
            }
        }
    }
}