.home{
    text-align: center;

    h1{
        font-size: 3rem;
        margin-top: 5rem;
    }

    .purchases{
        @include flex(center,center,row);

        .purchase-link{
            padding: 1rem;
            margin: 1rem;
            // border: 1px solid black;
            border-radius: 1rem;
            background: #2ebccf;

            h2{
                font-size: 2.3rem;
                color: #054785;
            }
            h3{
                font-size: 2rem;
            }
        }
    }

    .resumes{
        @include flex(center,center,row);

        .resume-link{
            padding: 1rem;
            margin: 1rem;
            // border: 1px solid black;
            border-radius: 1rem;
            background: #2ebccf;

            h2{
                font-size: 2.3rem;
                color: #054785;
            }
            h3{
                font-size: 2rem;
            }
        }
    }
}