.home{
    text-align: center;

    .purchases{
        @include flex(center,center,row);

        .purchase-link{
            padding: 1rem;
            margin: 1rem;
            // border: 1px solid black;
            border-radius: 1rem;
            background: #2ebccf;
        }
    }
}